# Ignore all files in the data/ and config/ directories
# This prevents committing PHI/PII, secret keys, and other sensitive information
# as well as large datasets that are not needed in the repository.
data/
config/

*.csv
*.pyc
*.txt
*.json
*.png
*.json
*.gz
*.zip
*.xlsx
*.exe
*.html
*.trace.*

# Ignore all files in the data_pipeline/llm/ directory
# This is to prevent committing large model files or temporary files
src/data_pipeline/llm/*
/debug_and_traces/*

!ast_deps.csv
!requirements.txt
/Codex_++/docs/codex_traces